/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*estilizando as informações*/
h1{
    color: skyblue
}

/* Estilos para o cabeçalho */
h2 {
    color: #333;
}

/* Estilos para os formulários */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color:skyblue;
    color: white;
    border: none;
    cursor: pointer;
    float:right;
}

button:hover {
    background-color: skyblue;
}

/* Estilos para o botão de mudar cor de fundo */
button#changeBackground {
    margin-bottom: 20px;
}

/* Estilos para a seção do banner */
#Banner {
    margin-bottom: 20px;
}

#imgBanner {
    display: block;
    margin: 0 auto;
}
/* Estilos para o layout responsivo */
@media (min-width: 768px) {
    body {
        padding: 20px;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }
}
header{
    width: 100%;
}
nav{
    width: 100%;
    height: 50px;
    background: #000;
    font-family: "Roboto",sans-serif;
}
nav ul{
    list-style: none;
    position: relative;
} 
nav ul li{
    width: 150px;
    float: left;
}

nav li{
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    color:skyblue;
    background: #000;
}
